html{
    background-color: #343E3D;
    color: white;
}
#holder{
	background-color: #343E3D;
    border: .1rem solid white
}
.title {
    font: bold 1.5rem Georgia, "Times New Roman", Times, serif;
    padding: .4rem .4rem 0 .4rem;
    text-align: center;
}
nav ul{
    padding: .4rem .4rem;
    background-color: #222928;
    display: flex;
    border-top: .1rem solid white;
    border-bottom: .1rem solid white;
}
nav ul li{
    list-style-type: none;
    flex: 1;
}
nav ul a{
    display: inline-block;
    padding: .2rem;
}
main{
    padding: 0 .4rem;
}
aside {
    display: flex;
    background-color: #343E3D;
    font-size: .7rem;
    border-top: .1rem solid white;
}
p.left, p.right {
    flex: 1 1 50%;
    padding: .4rem;
}
footer{
    padding: .4rem;
    font-size: .6rem;
    border-top: .1rem solid white;
}
a:link, a:visited {
    background-color: #493938;
    color: white;
    padding: .7rem;
    border-radius: .6rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
@media screen and (max-width: 20rem) {
    nav ul li{
        font-size: .8rem;
    }
}
